[Unit]
Description=MongoDB Database Service
Wants=network.target nohugepages.service
After=network.target

[Service]
Type=forking
RuntimeDirectory=mongodb
PIDFile=/var/run/mongodb/mongod.pid
ExecStart=/usr/bin/mongod --config /etc/mongod.conf
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
User=mongod
Group=mongod
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target

